/* start header style */
.header nav{
    height: 60px;
    color: var(--gold-color);
    cursor: pointer;
}
.header nav i {
    opacity: 0.5;
    font-size: 20px;
    cursor: pointer;
}
.header nav i:first-child{
    font-size: 25px;
}
.header nav i:hover{
    opacity: 1;
}
.header nav > div{
    width: 300px;
}
.header nav .links{
    display: flex;
    gap: 20px;
}
.header nav .links > div{
    align-items: center;
    display: flex;
    gap: 6px;
    padding: 5px;
}
.header nav .links > div:last-child{
    border:1px solid var(--white-color)
}
.header nav .links > div:last-child:hover{
    background-color: var(--gold-color);
    color: var(--white-color);
}
.header nav h3{
    text-decoration: underline;
    text-align: center;
}
/* end header style */
/* start question style  */
.questions{
    background-color: var(--black-color);
    position: relative;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 1px;
    color: var(--white-color);
    overflow: hidden;
}
.questions .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo.png);
    background-size: cover;
    opacity: 0.1;
    z-index: 1;

}

.questions .question{
    border: 1px solid var(--white-color);
    padding: 20px;
    border-radius: 10px;
    min-width: 600px;
    position: relative;
    transition: all 0.5s ease;
    z-index: 2;
}
.questions .question .addOptionBtn{
    position: absolute;
    bottom: 0;
    border: 1px solid var(--gold-color);
    padding: 5px 10px;
    right: 10px;
    margin: 10px;
    z-index: 5;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.5 ease;
    cursor: pointer;
}
.questions .question .addOptionBtn:hover{
    background-color: var(--gold-color);
}
.questions .question:hover{
    background-color: #454747;
    cursor: pointer;
}
.questions .question:hover > .icons{
    visibility:visible ;
}
.questions .question ul{
    list-style: none;
    float:left;
    margin-left: 20px;
    margin-top: 10px;
    color: var(--gold-color);
    direction: rtl;
}
.questions .question ul li{
    margin-bottom: 5px;
    width: 200px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.questions .question > input{
   display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
}
.questions .question > input::placeholder{
    font-weight: 100;
    font-size: 14px;
}
.questions .question > ul > li > label > input {
    background-color: transparent;
    border: none;
    text-align: end;
    outline: none;
    color: var(--gold-color);
}
.questions .question .icons{
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    color: #c45d18;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    visibility: hidden;
    transition: all 0.5s ease;
}
.questions .question > .icons i:hover{
 color: var(--gold-color);
}
#submitTest{
    color: var(--gold-color);
    padding: 5px 15px;
    font-weight: bold;
    display: block;
    z-index: 2;
    width: 100px;
    transition: all 0.5s ease;
}
#submitTest:hover{
    background-color: var(--black-color);
    border: 1px solid var(--gold-color);
    color: var(--white-color);
    cursor: pointer;
}
/* end question style  */
.control{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.control .addmore{
    z-index: 2;
    background-color: var(--gold-color);
    padding: 5px 10px;
    width: 130px;
    border-radius: 10px 10px 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--white-color);
}
.control .addmore:hover{
    background-color: var(--black-color);
    border: 1px solid var(--gold-color);
}

/* start delete options */
.fa-xmark{
    color: rgb(182, 51, 11);
    font-size: 18px;
    visibility: hidden;
}
ul.options-list li:hover > .fa-xmark{
    visibility: visible;
}
/* start user mange style */

.userMange .createUser{
    text-decoration: none;
    background-color: var(--black-color);
    border: 1px solid var(--white-color);
    padding: 5px 10px;
    margin-bottom: 20px;
    display: block;
    width: 150px;
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
.createUser:hover{
    color: var(--white-color) !important;
   background-color: var(--gold-color);
}
.userMange{
    background-color: var(--black-color);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    width: 800px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
}

.userMange a:hover{
    color: var(--gold-color);
}
