@font-face {
    font-family:'mainFont';
    src: url(../fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf);
}
@font-face {
    font-family:'bodyFonts';
    src: url(../fonts/Oxygen-Bold.ttf);
}
@font-face {
    font-family:'bodyFontsLight';
    src: url(../fonts/Agbalumo-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-header);
}

/*#region Variable */

:root{
    --black-color:#292B2B;
    --gold-color:#BB8020;
    --white-color:#DBDAD7;
}
body {
    font-family:mainFont;
    background-color:var(--white-color);
}
.container {
    margin:0;
    padding-left: 15px;
    padding-right: 15px;

}
/* small*/

/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */

/* medium*/

/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
} */

/* large*/

/* @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */

.header {
    background-color: var(--black-color);
    font-family:mainFont;
    width: 100%;
    height: 60px;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#headerLine{
    height: 30px;
    margin: auto 10px;
    display: block;
    width: 2px;
    background-color: var(--white-color);
}
.header nav .links {
    display: flex;
    align-items: center;
    position: relative;
}

.header nav .links img{
    width: 80px;
}
.header nav ul{
    display: flex;
    list-style: none;
}
.header nav  .links ul li a{
    display: block;
    color: var(--white-color);
    font-size: 14px;
    text-decoration: none;
    transition:all 0.3s;
    padding: 20px 10px;
    position: relative; /* this becouse the z-index can not applyed if his father not relative */
    z-index: 2;
}
.header nav  .links ul li a.active{
    border-bottom: 2px solid var(--gold-color) !important;
    color: var(--gold-color) !important;
}

.header nav .inputs{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
    z-index: 2;
}
.header .inputs .headerInput{
    background-color: var(--white-color);
    border-radius: 20px;
    border: none;
    height: 22px;
    outline: none;

}
.header .inputs .login .headerInput{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    transition: all 0.6s ease;
}
.header .inputs .login .headerInput:hover{
    background-color: var(--gold-color);
    color: var(--white-color);
}
.header .inputs  .search{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
}
.header .inputs  .search input{
    padding-right: 10px;
}
.header .inputs  .search input::placeholder{
    opacity: 0.7;
    font-size: 12px;
}
.header .inputs  .search .fa-search{
    position: absolute;
    left: 5px;
    top:50%;
    transform: translateY(-50%);
    color: var(--gold-color);
}
.header .inputs  .search input{
    width:220px ;
}
.header .inputs div:last-child{
    display: flex;
    gap: 10px;
}
.header .inputs div:last-child a{
    text-decoration: none;
    display: block;
    width: 120px;
    color:var(--gold-color);
    font-size: 14px;

}
.header .inputs .headerIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:676px){
    .toggle-menu{
        cursor: pointer;
    }
    .header .container nav ul {
        display: none;
    }
    .header .inputs .search{
        display: none;
    }
    .header .container nav .toggle-menu:hover + ul a{
        padding: 10px;
    }
    .header .container nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        text-align: center;
        left: 0;
        background-color: var(--black-color);
    }
}

.header .container nav ul li a.active,
.header .container nav ul li a:hover{
    color: var(--gold-color);
    border-bottom:1px solid  var(--white-color) solid var(--gold-color);
}

.header .container nav .toggle-menu {
    color: var(--white-color);
    font-size: 22px;
}
@media (min-width:676px){
    .header .container nav .toggle-menu {
        display: none;
    }
}


/*end Header*/

/* start main style */
main section {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* start landing style */
section.landing{
    background-color: var(--black-color);
    /* background-image: url(../img/istockphoto-1271017973-612x612.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-auto-flow: dense;
    gap: 50px;
    overflow: hidden !important;
}
section.landing::after{
    content: "";
    /* position: absolute; */
    width: 1000px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--gold-color);
    opacity: 0.8;
    z-index: 1;
    top: -200px;
    left: -200px;
}
section.landing div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.landing .img img{
    width: 500px;
    z-index: 2;
}
section.landing > .tester{
    flex-direction: column;
    align-items: center;

}
section.landing > .tester div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--gold-color);
}
section.landing > .tester div:first-child {
    color: var(--gold-color);
    font-size: 25px;
}
section.landing > .tester .images img{
    width: 300px;
    opacity: 0.7;
    animation-name: chartAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: all 0.7s ease-in-out;
}

section.landing > .tester .images img:last-child{
    animation-delay: 2s;
}
@keyframes chartAnimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(0px);
    }
}
section.landing > .tester div:first-child  img{
    width: 150px;
}
section.landing > .tester div:last-child a{
    background-color: var(--white-color);
    color: var(--gold-color);
    text-decoration: none;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.landing > .tester div:last-child > span{
    display: inline;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white-color);
}
/* end landing style */
/* start about us style */
section.about-us {
    text-align: center;
    margin: auto;
    background-color: var(--black-color);
    padding: 60px 0px;
    color: var(--gold-color);
    border-top:1px solid  var(--white-color);
}
section.about-us .content {
    width: fit-content;
    padding: 10px 60px;
    margin: auto;
    border: 1px solid var(--white-color);
}
section .title{
    position: relative;
    margin: auto;
    width: fit-content;
    color: var(--gold-color);
    border-bottom: 2px solid var(--white-color);
    padding: 10px;
}
section .title span{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom:0;
    right: 50%;
    transform: translate(50%,50%);
    background-color: var(--white-color);
    display: block;
}
section.about-us .content img{
    width: 200px;
}
section.about-us .content{
    margin-top: 40px;
}
section.about-us .content p {
    margin-bottom: 5px;
}
/* end about us style */
/* start services style  */
section.services {
    background-color: var(--white-color);
    margin-top: 1px;
    padding-top: 60px;
    padding-bottom: 60px;
}
section.services .title{
   border-bottom: 2px solid var(--black-color);
}
section.services .title span{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom:0;
    right: 50%;
    transform: translate(50%,50%);
    background-color: var(--black-color);
    display: block;
}
section.services .cards{
    margin: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
section.services .cards > .card{
    background-color: var(--black-color);
    flex-grow: 1;
    flex-basis: 500px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    transition: all 0.5s ease;
}
section.services .cards > .card:hover{
    background-color: #bb802065;
    cursor: pointer;
}
section.services .cards > .card:hover img{
    transform: scale(1.2);
}
section.services .cards > .card > .text{
    display: flex;
    flex-direction: column;
}
section.services .cards > .card > .text h3{
    color: var(--gold-color);
}
section.services .cards > .card > .text p{
    color: var(--white-color);
    margin-top: 5px;
}
section.services .cards > .card > img{
    width: 100px;
    transition: all 0.5s ease;

}
/* end services style  */
/*start footer style*/
.footer{
    height: 300px;
    background-color: var(--black-color);
    border-radius: 30px 30px 0 0;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    position: relative;
    color: var(--gold-color);
}
.footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer > .related div:first-child{
    text-align: center;
    border: 1px solid var(--white-color);
    padding: 20px;
}
.footer > .related div:first-child p{
    margin-top: 10px;
}
.footer .icons{
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}
.footer .icons >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    opacity: 0.7;
}
.footer .related > div:last-child{
    position: relative;
    width: fit-content;
}
.footer .related img{
    width: 250px;
    border-bottom: 1px solid var(--white-color);
}
.footer .related .circule{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,20%);
}
.footer .copy{
    position: absolute;
    bottom: 0;
    background-color: var(--white-color);
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    border-radius: 10px 10px 0 0;
    font-family: bodyFontsLight;
}
/*end footer style*/

/* start trainer page style */
section.trainer{
    display: flex;
    padding: 60px 0;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100vh - 360px);
    justify-content: space-around;
    align-items: center;
}
section.trainer > div{
    background-color: var(--black-color);
    width: 400px;
    padding: 50px 0;
    border-radius: 20px;
    color: var(--gold-color);
    display: flex;
    cursor: pointer;
    /* align-items: center; */
    font-size: 18px;
    justify-content: center;
    gap: 20px;
    transition: all 0.5s ease;
}
section.trainer > div i {
    font-size: 80px;
    color: var(--white-color);
}
section.trainer > div:hover{
    background-color:#292b2b8e;
}
/* end trainer page style */

/* start exam show style */
section.showExam{
    background-color: var(--black-color);
    margin-top: 1px ;
 }
 .showExam .examTitle{
  text-align: center;
  width: 100%;
  color: var(--white-color);
 }
 .showExam .questionContainer{
     margin: auto;
     background-color: var(--black-color);
     border: 1px solid var(--white-color);
     width: 500px;
     text-align: end;
     padding: 10px;
     margin-top: 20px;
     border-radius: 5px;
 }
 .showExam .questionContainer .questionText {
     color: var(--gold-color);
 }

 .showExam .questionContainer ul{
     list-style: none;
     margin-left: 10px;
     margin-top: 10px;
     color: var(--white-color);
 }
 .showExam .questionContainer ul li{
     margin-top: 5px;
     font-size: 18px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 5px;
 }
 .showExam #saveTest{
     padding: 5px 20px;
     display: block;
     margin: auto;
     margin-top: 20px;
     background-color: transparent;
     border: 1px solid var(--gold-color);
     color: var(--white-color);
     cursor: pointer;
     transition: all 0.5s ease;
 }
 .showExam #saveTest:hover{
     background-color: var(--gold-color);
 }
 /* end exam show style */
